<header class="bg-[#FF5943] lg:mx-20  rounded-3xl border-4 border-[#F24932]">
    <nav class="grid grid-cols-2  py-3 text-white font-black lg:mx-8">
      <div class="brand">
        <img class="w-12" src="../assets/rhysLogo.png" alt="">
      </div>
  
      <ul class="flex items-center justify-end gap-x-20">
        <li class="hover:text-black"><a href="">Projects</a></li>
        <li class="hover:text-black"><a href="">About</a></li>
        <li class="hover:text-black"><a href="">Contact</a></li>
      </ul>
    </nav>
</header>