<header class="lg:mx-20  rounded-3xl">
    <nav class="grid grid-cols-2  py-2 text-white font-black lg:mx-8">
      <div class="brand">
        <a href="#home"><img class="w-12" src="../assets/rhysLogo.png" alt="" ></a>
      </div>
  
      <ul class="flex items-center justify-end gap-x-20">
        <li class="hover:text-[#F67695] transition ease-in duration-200"><a href="#projects" class="text-md">Projects</a></li>
        <li class="hover:text-[#F67695] transition ease-in duration-200"><a href="" class="text-md">About</a></li>
        <li class="hover:text-[#F67695] transition ease-in duration-200"><a href="" class="text-md">Contact</a></li>
      </ul>
    </nav>
</header>