<section class="min-h-screen grid lg:grid-cols-2 relative">

    <div class="left-section min-h-full flex items-center justify-center bg-[#121212]">
        <div class="w-1/2 -rotate-12">
            <img src="../assets/rhyspink.png" alt="" class="mb-10">
            <p class="text-[#F6D769] font-bold">A Creative Full Stack Web Developer Crafting Your Digital Success</p>
        </div>
    </div>

    <div class="right-section min-h-full flex items-center justify-center bg-[#BA3D5C]">
        <h1 class="text-white text-2xl font-bold">This is a test</h1>
    </div>

</section>