<div class="all">
    <div class="h-screen grid grid-cols-1 lg:grid-cols-2" id="home">
        <div class="flex justify-center items-center px-12 min-h-screen">
            <div class="pageTitle lg:w-6/12 w-auto">
                <p class="text-[#BA3D5C] font-bold inline-block mb-6 text-sm">FULL-STACK WEB DEVELOPER</p>
                <h1 class="font-black text-white lg:text-8xl text-5xl mb-6">RHYS LOPEZ</h1>
                <p class="text-md font-light text-white mb-8">From Pixels to Perfection: A Creative Full Stack Web Developer Crafting Your Digital Success</p>
                <div class="wrap flex items-center">
                    <a href="https://drive.google.com/uc?id=1enotwiPb_-8fR2azgJR6oo6gglBLgfOy&export=download" class="rounded-lg font-bold px-5 py-3 hover:text-[#121212] text-white box-border inner-border-2 inner-border-white ease-in duration-100 mr-6 hover:bg-[#BA3D5C]">
                        <div class="flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline-block mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                              </svg>
                              Resume
                        </div>
                    </a>
    
                    <a href="mailto:“rhys.paulino@gmail.com" class="rounded-lg font-bold text-[#121212] px-5 py-3 bg-[#BA3D5C] hover:bg-[#F67695] ease-in duration-100">Contact</a>
                </div>
            </div>

        </div>
    
        <div class="flex justify-center items-center">
            <!-- <iframe src='https://my.spline.design/miniroomartcopy-6928abb6f6fbcf13422c1da32de29881/' frameborder='0' width='100%' height='100%' class="room"></iframe> -->
        </div>
    </div>
    
    
    
    <div class="custom-shape-divider-bottom-1692336152 rotate-180">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path fill="#BA3D5C" d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    
    <section class="bg-[#BA3D5C] py-40 scroll-area">
        <div class="text-center mb-20">
            <h2 class="lg:text-6xl text-5xl font-black text-white mvp">MOST VALUABLE SKILLS</h2>
        </div>
        
        <div class="flex justify-center fade-in">
            <div class="container grid lg:grid-cols-5 grid-cols-2 gap-x-0 gap-y-20">
                <div class="text-center hover:scale-125 ease-in duration-200" *ngFor="let skill of skills">
                    <div class="wrap flex justify-center items-center">
                        <img src="{{skill.attributes.SkillIcon.data.attributes.url}}" alt="" class="skill-icon mb-6">
                    </div>
                    <p class="font-bold text-lg text-white">{{skill.attributes.SkillName}}</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="custom-shape-divider-top-1692335943 mb-40">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path fill="#BA3D5C" d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    
    
    
    <div class="text-center mb-20">
        <h2 class="lg:text-6xl text-5xl font-black text-white mvp">PROJECTS</h2>
    </div>
    
    <!-- Projects -->
    <section class="flex justify-center slide-left" id="projects">
        <div class="container grid lg:grid-cols-3 grid-cols-1 gap-20 fade-in px-5">
            <div class="project mb-16 bg-[#2c2c2c] rounded-lg" *ngFor="let project of projects">
                <div class="wrap">
                    <img class="project-img rounded-t-lg" src="{{project.attributes.ProjectLogo.data.attributes.url}}" alt="">
                </div>
        
                <div class="project-information p-8 grid grid-cols-3">
                   <div class="wrap col-span-2">
                        <h3 class="project-name text-white text-3xl font-bold mb-6">{{project.attributes.ProjectTitle}}</h3>
                        <p class="text-white">{{project.attributes.ProjectDescription}}</p>
                   </div>
                   <div class="flex items-center justify-end">
                    <a href="https://hammerhead-app-mbnxc.ondigitalocean.app/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.5" stroke="white" class="w-16 h-16 hover:stroke-black hover:fill-white duration-200 ease">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </a>

                   </div>
                </div>
            </div>
        </div>
    </section>    
</div>