.all{
  scroll-snap-type: y mandatory;
}

.scroll-area{
  scroll-snap-align: start;
}

.skill-icon{
    aspect-ratio: 1/1;
    width: 90px;
    height: 90px;
    object-fit: contain;
}

@media only screen and (min-width: 991px) {
    .skill-icon {
      width: 90px;
      height: 90px;
    }
  }


.project-img{
  aspect-ratio: 1/1;
  background-color: white;
  width: 100%;
}

@media only screen and (max-width: 1384px) {
    .room {
        display: none;
    }

}


