<div class="h-screen grid grid-cols-1 lg:grid-cols-2">
    <div class="flex justify-center items-center px-12 min-h-screen">
        <div class="pageTitle lg:w-6/12 w-auto">
            <p class="text-[#FFDF40] font-bold inline-block mb-6 text-sm">FULL-STACK WEB DEVELOPER</p>
            <h1 class="font-black text-white lg:text-8xl text-5xl mb-6">RHYS LOPEZ</h1>
            <p class="text-md font-light text-white mb-8">From Pixels to Perfection: A Creative Full Stack Web Developer Crafting Your Digital Success</p>
            <button href="" class="rounded-lg font-bold text-[#FF5943] px-5 py-3 bg-white hover:bg-[#FFDF40] ease-in duration-100">Contact</button>
        </div>
    </div>

    <div class="#FF5943">
        <!-- <iframe src='https://my.spline.design/miniroomartcopy-7b53ed916451fba02d51213503895c65/' fram='0' width='100%' height='100%'></iframe> -->
    </div>
</div>

<div class="text-center mb-40">
    <h2 class="lg:text-7xl text-5xl font-black text-white mvp">MOST VALUABLE SKILLS</h2>
</div>

<div class="flex justify-center fade-in">
    <div class="container grid lg:grid-cols-5 grid-cols-2 gap-0">
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/react-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">React</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/angular-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Angular</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/js-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Javascript</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/node-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Node</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/SQL-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">MySQL</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/typescript-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Typescript</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/tailwind-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Tailwind</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/bootstrap-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Bootstrap</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/three-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Three JS</p>
        </div>
    
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in-out duration-200">
            <div class="wrap flex justify-center items-center">
                <img src="../assets/strapi-white.png" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">Strapi</p>
        </div>
    </div>
</div>
