.skill-icon{
    aspect-ratio: 1/1;
    width: 120px;
    height: 120px;
    object-fit: contain;
}

@media only screen and (min-width: 991px) {
    .skill-icon {
      width: 100px;
      height: 100px;
    }
  }