<div class="h-screen grid grid-cols-1 lg:grid-cols-2">
    <div class="flex justify-center items-center px-12 min-h-screen">
        <div class="pageTitle lg:w-6/12 w-auto">
            <p class="text-[#BA3D5C] font-bold inline-block mb-6 text-sm">FULL-STACK WEB DEVELOPER</p>
            <h1 class="font-black text-white lg:text-8xl text-5xl mb-6">RHYS LOPEZ</h1>
            <p class="text-md font-light text-white mb-8">From Pixels to Perfection: A Creative Full Stack Web Developer Crafting Your Digital Success</p>
            <button href="" class="rounded-lg font-bold text-[#121212] px-5 py-3 bg-[#BA3D5C] hover:bg-[#F67695] ease-in duration-100">Contact</button>
        </div>
    </div>

    <div class="#FF5943">
        <!-- <iframe src='https://my.spline.design/miniroomartcopy-7b53ed916451fba02d51213503895c65/' fram='0' width='100%' height='100%'></iframe> -->
    </div>
</div>




<div class="text-center mb-40">
    <h2 class="lg:text-5xl text-5xl font-black text-white mvp">MOST VALUABLE SKILLS</h2>
</div>

<!-- My Skills -->
<div class="flex justify-center">
    <div class="container grid lg:grid-cols-5 grid-cols-2 gap-0">
        <div class="text-center mb-20 p-0 hover:scale-125 ease-in duration-200" *ngFor="let skill of skills">
            <div class="wrap flex justify-center items-center">
                <img src="{{skill.attributes.SkillIcon.data.attributes.url}}" alt="" class="skill-icon mb-6">
            </div>
            <p class="font-bold text-lg text-white">{{skill.attributes.SkillName}}</p>
        </div>
    </div>
</div>

<!-- Projects -->
<div class="flex justify-center">
    <div class="container grid lg:grid-cols-3 grid-cols-1">
        <div class="project border">
            <div class="wrap mb-10">
                <img class="project-img" src="" alt="">
            </div>
    
            <div class="project-information">
                <h3 class="project-name text-white text-3xl font-bold mb-6">Mike Smooth</h3>
                <p class="text-white">This is a short description about the project</p>
            </div>
        </div>
    

    </div>
</div>



